@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-column{
    flex-direction: column;
}

.flex-end{
    justify-content: flex-end;
}

.f-align-center{
    align-items: center;
}

/* common */

.container{
    height: 100vh;
}

.btn{
    display: block;
    padding: 10px 15px;
    border-radius: 100vmax;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/* MAIN SECTION */

.main-section{
    width: 100%;
}

/* side bar */

.side-bar{
    background-color: black;
    position: relative;
    z-index: 2;
    padding: 20px 100px 120px 20px;
    height: 100vh;
}

.side-bar *{
    color: white;
}

.side-bar-top > div{
    padding-bottom: 30px;
    line-height: 1.6rem;
}

.fa-square-plus{
    font-size: 35px;
}

#logo-img{
    width: 150px;

}

.download-btn{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.profile-pic-box{
    border-radius: 50%;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background-color: grey;
    display: inline-block;
    margin-right: 5px;
}

.profile-pic-box img{
    object-fit: cover;
    width: 20px;
    height: 20px;
}

/* main container */

.main-box{
    flex-grow: 1;
}



/* top bar */

.top-bar{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.top-bar-btn{
    border: 2px solid white;
    color: white;
    margin: 20px;
}

/* bottom section */

.bottom-section{
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 3;
}

